<div class="container mt-3">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p class="float-right text-muted">12:22 PM</p>
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                class="rounded-circle img-fluid historyImg"
              />
              <div class="info-history">
                <p class="ml-2 mb-0">You Search User</p>
                <p class="ml-2 text-muted">"Usman Faisal"</p>
              </div>
            </li>
            <li class="list-group-item">
              <p class="float-right text-muted">17:22 PM</p>
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                class="rounded-circle img-fluid historyImg"
              />
              <div class="info-history">
                <p class="ml-2 mb-0">You Search User</p>
                <p class="ml-2 text-muted">"John doe"</p>
              </div>
            </li>
            <li class="list-group-item">
              <p class="float-right text-muted">07:22 AM</p>
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                class="rounded-circle img-fluid historyImg"
              />
              <div class="info-history">
                <p class="ml-2 mb-0">You Search User</p>
                <p class="ml-2 text-muted">"Ehtasham"</p>
              </div>
            </li>
            <li class="list-group-item">
              <p class="float-right text-muted">10:22 AM</p>
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                class="rounded-circle img-fluid historyImg"
              />
              <div class="info-history">
                <p class="ml-2 mb-0">You Search User</p>
                <p class="ml-2 text-muted">"Alizay"</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
